In [12]:
import pandas as pd 

class Preprocessing:

    def __init__(self,dataset='heart_failure_clinical_records_dataset.csv'):
        self.dataset = dataset

    def setDataset(self,dataset):
        ''' set Dataset to be inputted (must be in working directory) '''
        self.dataset = dataset

    def getDataset(self):
        ''' Inputs dataset (CSV) into a panda dataframe '''
        df = pd.read_csv(self.dataset)
        return df 

    def cleanDataset(self):
        ''' Removes any missing data '''
        pass 


class StatAnalysis(Preprocessing):

    def __init__(self):
        super().__init__() 

    def getMean(self):
        ''' Returns mean of data '''
        pass

    def getSTD(self):
        ''' Returns standard deviation of data '''
        pass
    
    def getMedian(self):
        ''' Returns the median of data '''
        pass 

    def getVariance(self):
        ''' Returns the variance of data '''
        pass 

    def getMin(self):
        ''' Returns the minimum of data '''
        pass 

    def getMax(self):
        ''' Returns the maximum of data '''
        pass 

    def getSkewness(self):
        ''' Returns the skewness of data '''
        pass 

    def getKurtosis(self):
        ''' Returns the kurtosis of data '''
        pass 

class visualizeData(Preprocessing):

    def __init__(self):
        super().__init__()

    def getBarPlot(self):
        ''' Returns bar plot '''
        pass 

    def getGroupedBarPlot(self):
        ''' Returns the grouped bar plot '''
        pass 

    def getPieChart(self):
        ''' Returns a pie chart of the data '''
        pass 

test = Preprocessing()
#test.getDataset()
test2 = StatAnalysis()
#test2.getDataset()
test2.getDataset()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0